<div class="demo-page">
    <div class="container">
        <section class="demo-page-kvinput-info">
            <app-kv-input [isDisabled]="false" [showInputClearButton]="true" [maxDropDownSuggestions]='10'
            [placeholder]="'e.g. football'" [data]="data" formControlName="kvInput">
        </app-kv-input>
        </section>
        <!-- <section class="demo-page_form">
            <form [formGroup]="demoForm" class="demo-form_wrapper-form">
                <div class="demo-page_form-wrapper">
                    <app-kv-input [isDisabled]="false" [showInputClearButton]="true" [maxDropDownSuggestions]='10'
                        [placeholder]="'e.g. football'" [data]="data" formControlName="kvInput">
                    </app-kv-input>
                    <div class="demo-page_form-wrapper">
                        <button class="demo-page_form-wrapper_btn-submit" type="button" (click)="onSubmitForm()">Submit Form</button>
                    </div>
                </div>
            </form>
        </section>
        <section class="demo-page_form-result">
            <div *ngIf="formStatus">Form result for kvInput: {{formStatus}}</div>
        </section> -->
    </div>
</div>
