<form [formGroup]="demoForm">
    <div class="form_wrapper">
        <div>
            <input type="text" name="test" formControlName="testInput">
        </div>
        <div>
            <input type="text" name="test" formControlName="testInput2">
        </div>
        <app-kv-autocomplete [placeholder]="'e.g. football'" [data]="data" formControlName="kvInput"></app-kv-autocomplete>
        <div>
            <button type="button" (click)="onSubmitForm()">Submit Form</button>
        </div>
    </div>
</form>

<div>
    <app-kv-autocomplete [placeholder]="'e.g. football'" [data]="data" (getInputValue)="emitInputValue($event)"></app-kv-autocomplete>
</div>

<div>
    <app-kv-autocomplete [placeholder]="'e.g. football'" [data]="data" (getInputValue)="emitInputValue($event)"></app-kv-autocomplete>
</div>
<div>
    <app-kv-autocomplete 
    [placeholder]="'e.g. box'" 
    [data]="data"
    [maxDropDownResults]="2"
    [showClearButton]="false"
    [kvInputReadOnlyStatus]="true"
    [kvInputDisabledStatus]="true"
    (getInputValue)="emitInputValue($event)">
</app-kv-autocomplete>
</div>
<div>
    <app-kv-autocomplete [placeholder]="'e.g. football'" [data]="fakeData" (getInputValue)="emitInputValue($event)"></app-kv-autocomplete>
</div>